.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  position: sticky;
  top: 0; /* Align to the top */
  z-index: 1000; /* Ensure the header is above other content */
  width: 100%;
}

.logo a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: relative; /* Needed for centering */
  flex-grow: 1; /* Allows navLinks to take up as much space as possible */
}

.navLinks li a {
  color: var(--primary-color);
  text-decoration: none;
}

.authLink {
  margin: 0 1rem;
}

.menuButton {
  display: none;
  background: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 2rem;
  padding-right: 3rem;
}

@media (max-width: 768px) {
  .navLinks,
  .authLinks {
    display: none; /* Hide both nav and auth links on smaller screens */
  }

  .menuButton {
    display: block; /* Ensure menu button is displayed */
    position: absolute; /* Position it absolutely within the header */
    right: 0; /* Align to the right, similar to auth links on larger screens */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for exact centering */
  }
}

/* Header.module.css adjustments for larger screens */
@media (min-width: 769px) {
  .header {
    display: flex;
    justify-content: space-between; /* Space content evenly */
    align-items: center;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .navLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .authLinks {
    display: flex; /* Keep auth links visible on larger screens */
    justify-content: flex-end;
    gap: 1rem;
  }

  .menuButton {
    display: none; /* Hide the menu button on larger screens */
  }
}
